<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>IRISI Chatbot</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap" rel="stylesheet">
    
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script> 

  </head>
  <body>
   
    <div class="box-container hidden">
      <div class="chat" id="chat">
        <div class="logo" style="">
          <img src="../static/logoIRISI-White.png" alt="logo" style="width: 100px;">
          <button id="mute-button" onclick="muteFunc()"><i id="mute-button-i" class="fa fa-microphone"></i></button>
        </div>
        <div class="chat-messages" id="chat-messages"></div>
        <div class="container-footer">
          <div class="footer">
            <input type="text" id="input" placeholder="Chat With Me">
            <button id="submit-button" onclick="chat()"><i class="fa fa-send-o"></i></button>
          </div>
        </div>
        
      </div>
    </div>

    <div class="main-start">
      <div class="head-static">
        <div class="earl"></div>
        <div class="earr"></div>
         <div class="face">
            <div class="eyel-red"></div>
            <div class="eyer-red"></div>
            <div class="mouth"></div>
         </div>
      </div>
      <div align="center" class="a-static">
            <div class="neck"><i class="fa fa-gear fa-spin"></i></div>
            <div class="id">IRISI</div>
            <button class="box" id="start-button" onclick="btn()"></button>
            <div class="id">BOT</div>
            <div class="lhand">
                <div class="elbowl"></div>
            </div>
            <div class="rhand">
                <div class="elbowr"></div>
            </div>
      </div>
    </div>

    

    <script src="/static/jquery.min.js" ></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <script>
      let mute = 1;
      function muteFunc(){
        var muteBtn = document.querySelector("#mute-button-i");
          if(muteBtn !==null){
            if(mute == 1){
              muteBtn.classList.remove("fa-microphone");
              muteBtn.classList.add("fa-microphone-slash");
              mute = 0;
            }else{
              muteBtn.classList.remove("fa-microphone-slash");
              muteBtn.classList.add("fa-microphone");
              mute = 1;
            }
          }
      }
      

      window.onload = function(){
        responsiveVoice.speak("","US English Male",{rate:0.8,volume:mute,pitch:0.7});
      };

      document.getElementsByTagName("body")[0].addEventListener("keypress" , function (e){
          if(e.key == "Enter"){
              chat();
          }
      });



      function chat(){
        
        if($("#input").val() == "logo" || $("#input").val() == "logo of irisi"){
          $("#chat-messages").append("<div class='requeste'>"+$("#input").val()+ "</div> <div class='response'><img src='../static/logoIRISI.png' alt='logo' style='width: 100px;'></div>");
          $("#input").val("")
          let x = document.getElementById('chat')
          x.scrollTop = x.scrollHeight;
        }

        jQuery(document).ready(function() {

            $.ajax({
                type: "POST",
                url: "/chatbot",
                data: {
                    question: $("#input").val()
                },
                success: function(result) {
                  if($("#input").val() != ""){
                    $("#chat-messages").append("<div class='requeste'>"+$("#input").val()+ "</div> <div class='response'>"+result.response+"</div>");
                    $("#input").val("")
                    responsiveVoice.speak(result.response ,"US English Male",{rate:0.8,volume:mute,pitch:0.9})

                    let x = document.getElementById('chat')
                    x.scrollTop = x.scrollHeight;
                  }
                    
                },
                error: function(result) {
                    alert('error'+result);
                }
            });
        });

        
        let scroll = document.getElementsByClassName('response');
        scroll.scrollIntoView();
        scroll.scrollIntoView({behavior: "smooth"});

      }

      let number = 0;
      function start(){
        
          var chat = document.querySelector(".box-container");
          if(chat !== null){
            chat.classList.remove("hidden");
            if(number == 0){
              jQuery(document).ready($("#chat-messages").append("<div class='response'>Hey I am IRISI BOT, How can I help you</div>"))
              responsiveVoice.speak("Hey I am irizeiy BOT, How can I help you","US English Male",{rate:0.8,volume:mute,pitch:0.7});
              number++;
            }else{
              jQuery(document).ready($("#chat-messages").append("<div class='response'>Hey again!</div>"))
              let x = document.getElementById('chat')
              x.scrollTop = x.scrollHeight;
              responsiveVoice.speak("Hey again","US English Male",{rate:0.8,volume:mute,pitch:0.7});

            }
          }

          var eyel = document.querySelector(".eyel-red");
          if(eyel !==null){
            eyel.classList.remove("eyel-red");
            eyel.classList.add("eyel");
          }

          var eyer = document.querySelector(".eyer-red");
          if(eyer !==null){
            eyer.classList.remove("eyer-red");
            eyer.classList.add("eyer");
          }

          var main = document.querySelector(".main-start");
          if(main !==null){
            main.classList.remove("main-start");
            main.classList.add("main");
          }

          var head = document.querySelector(".head-static");
          if(head !==null){
            head.classList.remove("head-static");
            head.classList.add("head-move");
            head.classList.add("head");
          }

          var a = document.querySelector(".a-static");
          if(a !==null){
            a.classList.remove("a-static");
            a.classList.add("a-move");
            a.classList.add("a");
          }
        }

        function end(){
          var chat = document.querySelector(".box-container");
          if(chat !== null){
            chat.classList.add("hidden");
          }

          var eyel = document.querySelector(".eyel");
          if(eyel !==null){
            eyel.classList.remove("eyel");
            eyel.classList.add("eyel-red");
          }

          var eyer = document.querySelector(".eyer");
          if(eyer !==null){
            eyer.classList.remove("eyer");
            eyer.classList.add("eyer-red");
          }

          var main = document.querySelector(".main");
          if(main !==null){
            main.classList.remove("main");
            main.classList.add("main-start");
          }

          var head = document.querySelector(".head");
          if(head !==null){
            head.classList.remove("head");
            head.classList.remove("head-move");
            head.classList.add("head-static");
          }

          var a = document.querySelector(".a");
          if(a !==null){
            a.classList.remove("a");
            a.classList.remove("a-move");
            a.classList.add("a-static");
          }
        }


      let startbool = true;
      function btn(){
        if(startbool == true){
          start();
          startbool=false;
        }else{
          end();
          startbool=true;
        }
      }

    </script>

  </body>
</html>
